{{!--outlet--}}

<body style="background-color:#bfe2f5;">

<div class="collection">
    <a href="#!" class="collection-item"><span class="badge">Username</span>Status</a>
    {{#link-to "Avisos" class="collection-item"}}
        <span class="new badge light-blue darken-2">3</span>
        Avisos
    {{/link-to}}
    {{#link-to "Emergencias" class="collection-item" }}
        <span class="new badge light-blue darken-2">1</span>
        Emergencias
    {{/link-to}}
    {{#link-to "Encuestas" class="collection-item"}}
        <span class="new badge light-blue darken-2">2</span>
        Encuestas
    {{/link-to}}
    {{#link-to href="Solicitudes" class="collection-item"}}
        <span class="new badge light-blue darken-2">1</span>
        Solicitudes
    {{/link-to}}
</div>

</body>