{{!--outlet--}}

<div class="row">
    <form class="col s12">
        <div class="row">
            <button {{action 'cerrarSesion'}} class="btn waves-effect waves-light light-blue darken-2"> 
                Cerrar Sesión
            </button>
        </div>
    </form>
</div>

<div class="collection">
    <a href="#!" class="collection-item"><span class="badge">Username</span>Status</a>
    {{#link-to "Avisos" class="collection-item"}}
        <span class="new badge light-blue darken-2">3</span>
        Avisos
    {{/link-to}}
    {{#link-to "Emergencias" class="collection-item" }}
        <span class="new badge light-blue darken-2">1</span>
        Emergencias
    {{/link-to}}
    {{#link-to "Encuestas" class="collection-item"}}
        <span class="new badge light-blue darken-2">2</span>
        Encuestas
    {{/link-to}}
    {{#link-to href="Solicitudes" class="collection-item"}}
        <span class="new badge light-blue darken-2">1</span>
        Solicitudes
    {{/link-to}}
</div>
