{{outlet}}

<div class="collection">
    <a href="Responder-Encuesta" class="collection-item"><span class="badge">1</span>Encuesta de Satisfaccion</a>
    <a href="Responder-Encuesta" class="collection-item"><span class="badge">1</span>Actualizacion de Datos</a>
</div>

<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Notificar Error</a>